<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{ thymeleaf/layout/main }">

<!--
page Css
<th:block layout:fragment="pageCss">
	<link rel="stylesheet" th:href="@{/css/page/home.css}">
</th:block>
-->

<!-- page 스크립트 -->
<th:block layout:fragment="pageScript">
	<script>
	$(document).ready(function () {
		$("#btnSave").on("click", function(){
		    $("#boardFrm").submit();
		});
	});
	</script>
</th:block>

<main layout:fragment="page" role="main" class="flex-shrink-0">
	<div class="container">
		<h1 class="mt-5">작성</h1>

		<div class="col-md-6">
			<form action="#" id="boardFrm" th:action="@{/board/write}" th:object="${board}" method="post">
				<fieldset>
					<div class="form-group">
						<label for="boardId">ID</label>
						<input type="text" class="form-control" th:field="*{id}" id="boardId" readonly />
						<div class="invalid-feedback" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">
					        Looks good!
					    </div>
					</div>

					<div class="form-group">
						<label for="boardTitle">TITLE</label>
						<input type="text" class="form-control is-invalid" th:field="*{title}" id="boardTitle" required th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" />
						<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
					        Looks good!
					    </div>
					</div>

					<div class="form-group">
						<label for="boardContents">CONTENTS</label>
						<textarea class="form-control is-invalid" th:field="*{contents}" id="boardContents" required th:classappend="${#fields.hasErrors('contents') ? 'is-invalid' : ''}" >
						</textarea>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">
					        Looks good!
					    </div>
					</div>
				</fieldset>
			</form>

			<div class="row">
		        <div class="col-auto mr-auto"></div>
		        <div class="col-auto">
		            <input value="저장" type="button" id="btnSave" class="btn btn-primary" >
		        </div>
		    </div>

		</div>
		 
	</div>
</main>

</html>