<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<th:block th:replace="~{ thymeleaf/fragment/common :: commonFragment }"></th:block>
</head>

<body class="d-flex flex-column">
	<div class="row" style="margin-top:150px;">
		<div class="col-md-6 offset-md-3">

			<form th:action="@{/signinProc}" method="post">
				<fieldset>
					<h1>로그인</h1>

					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username and
							password.</div>
					</div>
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>

					<div class="form-group">
						<input type="text" name="username" id="username"
							class="form-control input-lg" placeholder="UserName"
							required="true" autofocus="true" />
					</div>
					<div class="form-group">
						<input type="password" name="password" id="password"
							class="form-control input-lg" placeholder="Password"
							required="true" />
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn-lg btn-primary btn-block"
							value="Sign In" />
					</div>

				</fieldset>
			</form>



		</div>
	</div>
</body>

</html>